<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>Meus Livros</title>
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
    <div id="app" class="container">
        <!-- Menu Superior -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="livraria-icone.png" width="30" height="30" class="d-inline-block align-top" alt="Livraria">
                Meus Livros 
            </a>
            <nav class="navbar navbar-dark bg-dark">
                <form class="form-inline">
                    <input class="form-control form-control-sm mr-sm-2" type="text" v-model="filtro" @keyup="pesquisar"
                        placeholder="Pesquisa">
                    <button class="btn btn-secondary btn-sm" @click.prevent="listar">Todos</button>
                </form>
            </nav>
        </nav>
        <img src="livraria.jpg" alt="livraria" class="img-fluid mx-auto d-block w-100 mt-2">
        <!-- Listagem -->
        <div class="col-sm-16">
            <div class="card">
                <h5 class="card-header">Lista de Livros Cadastrados
                    <span v-if="filtro">
                        [Filtro: '{{filtro}}']
                    </span>
                </h5>
                
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Cód.</th>
                                <th>Nome</th>
                                <th>Autor</th>
                                <th>Edição</th>
                                <th>Ano</th>
                                <th>Páginas</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="livro in livros" v-bind:key="livro.id">
                                <td>{{livro.id}}</td>
                                <td>{{livro.nome}}</td>
                                <td>{{livro.autor}}</td>
                                <td>{{livro.edicao}}</td>
                                <td>{{livro.ano}}</td>
                                <td>{{livro.paginas}}</td>
                                
                                <td>
                                    <button class="btn btn-warning btn-sm" title="Alterar" @click="editar(livro.id)">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Excluir"
                                        @click="excluir(livro.id, livro.nome)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="row">


                <!-- Formulário -->
                <div class="col-sm">
                    <p v-if="erros.length" class="text-danger small">
                        <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                        <ul>
                            <li v-for="erro in erros" class="text-danger small">{{ erro }}</li>
                        </ul>
                    </p>
                    <div class="card">
                        <h5 class="card-header">Cadastro de Livros</h5>
                        <div class="card-body">
                            <form @submit.prevent="salvar">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="titulo" ref="nome"
                                        v-model="livro.nome" placeholder="Nome do Livro">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="categoria" v-model="livro.autor"
                                        placeholder="Autor">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="autor" v-model="livro.edicao"
                                        placeholder="Edição">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="ano" v-model="livro.ano"
                                        placeholder="Ano">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="paginas" v-model="livro.paginas"
                                        placeholder="Páginas">
                                </div>

                                <div class="btn-group w-100" role="group">
                                    <input type="submit" class="btn btn-dark" value='Salvar'>
                                    <input type="reset" class="btn btn-secondary" value='Limpar'>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

    <script src="livraria.js"></script>
</body>

</html>